@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 206, 70%, 45%;
        --primary-foreground: 0 0% 98%;
        --secondary: 356.95 96% 57.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 354 70% 54%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 212 100% 95%;
        --ring: 240 5.9% 10%;
    }

    .dark:root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 206, 70%, 45%;
        --primary-foreground: 0 0% 98%;
        --secondary: 356.95 96% 57.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 354 70% 54%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 212 100% 95%;
        --ring: 240 5.9% 10%;
    }
}

@layer components {
    .signUpFormText {
        @apply text-base xs:text-lg font-medium mb-1
    }

    .signUpInputs {
        @apply !rounded-lg
    }

    .signUpInputs_Focused {
        @apply !border-primary !border-2
    }
}